Package: kiosk-browser
Version: 25
Priority: optional
Section: web
Architecture: all
Maintainer: Schlomo Schapiro <kiosk-browser@schlomo.schapiro.org>
Pre-Depends: nodm
Depends: chromium-browser, x11-xserver-utils, metacity, xdotool, x11-apps, sudo, imagemagick, debconf
Homepage: https://github.com/ImmobilienScout24/kiosk-browser
Description: Kiosk Browser 
 Setup system to work as a kiosk browser, showing only a full-screen browser.
 .
 Configuration options in /etc/default/kiosk-browser 
   KIOSK_BROWSER_START_PAGE sets the start page
 Also add your own customization to that file, e.g. xrandr calls.
 .
 See project homepage for full list of config options.
